@import url("https://fonts.googleapis.com/css2?family=Bagel+Fat+One&display=swap");

@import "tailwindcss";

@theme {
  --spacing-nav-height: 120px;
}
h1,
h2 {
  font-family: "Bagel Fat One", system-ui;
  font-weight: 400;
  font-style: normal;
}
