@import url("https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=M+PLUS+Rounded+1c&display=swap");

@import "tailwindcss";

:root {
  --nav-height: 120px;
  --nav-mobile-height: 80px;
}

@theme {
  --color-theme-1: #d9d2cd;
  --color-theme-2: #baaea5;
  --color-theme-3: oklch(41.4% 0.112 45.904);
  --color-theme-4: oklch(26.6% 0.079 36.259);
  --color-theme-5: oklch(28.6% 0.066 53.813);

  --spacing-nav: var(--nav-height);

  --spacing-app-full: calc((100% - var(--nav-height)));

  --spacing-app-1/2: calc((100% - var(--nav-height)) * (1 / 2));

  --spacing-app-1/3: calc((100% - var(--nav-height)) * (1 / 3));
  --spacing-app-2/3: calc((100% - var(--nav-height)) * (2 / 3));

  --spacing-app-1/4: calc((100% - var(--nav-height)) * (1 / 4));
  --spacing-app-2/4: calc((100% - var(--nav-height)) * (2 / 4));
  --spacing-app-3/4: calc((100% - var(--nav-height)) * (3 / 4));

  --spacing-app-1/5: calc((100% - var(--nav-height)) * (1 / 5));
  --spacing-app-2/5: calc((100% - var(--nav-height)) * (2 / 5));
  --spacing-app-3/5: calc((100% - var(--nav-height)) * (3 / 5));
  --spacing-app-4/5: calc((100% - var(--nav-height)) * (4 / 5));

  --spacing-app-1/6: calc((100% - var(--nav-height)) * (1 / 6));
  --spacing-app-2/6: calc((100% - var(--nav-height)) * (2 / 6));
  --spacing-app-3/6: calc((100% - var(--nav-height)) * (3 / 6));
  --spacing-app-4/6: calc((100% - var(--nav-height)) * (4 / 6));
  --spacing-app-5/6: calc((100% - var(--nav-height)) * (5 / 6));

  --spacing-nav-mobile: var(--nav-mobile-height);

  --spacing-app-mobile-full: calc((100% - var(--nav-mobile-height)));

  --spacing-app-mobile-1/2: calc((100% - var(--nav-mobile-height)) * (1 / 2));

  --spacing-app-mobile-1/3: calc((100% - var(--nav-mobile-height)) * (1 / 3));
  --spacing-app-mobile-2/3: calc((100% - var(--nav-mobile-height)) * (2 / 3));

  --spacing-app-mobile-1/4: calc((100% - var(--nav-mobile-height)) * (1 / 4));
  --spacing-app-mobile-2/4: calc((100% - var(--nav-mobile-height)) * (2 / 4));
  --spacing-app-mobile-3/4: calc((100% - var(--nav-mobile-height)) * (3 / 4));

  --spacing-app-mobile-1/5: calc((100% - var(--nav-mobile-height)) * (1 / 5));
  --spacing-app-mobile-2/5: calc((100% - var(--nav-mobile-height)) * (2 / 5));
  --spacing-app-mobile-3/5: calc((100% - var(--nav-mobile-height)) * (3 / 5));
  --spacing-app-mobile-4/5: calc((100% - var(--nav-mobile-height)) * (4 / 5));

  --spacing-app-mobile-1/6: calc((100% - var(--nav-mobile-height)) * (1 / 6));
  --spacing-app-mobile-2/6: calc((100% - var(--nav-mobile-height)) * (2 / 6));
  --spacing-app-mobile-3/6: calc((100% - var(--nav-mobile-height)) * (3 / 6));
  --spacing-app-mobile-4/6: calc((100% - var(--nav-mobile-height)) * (4 / 6));
  --spacing-app-mobile-5/6: calc((100% - var(--nav-mobile-height)) * (5 / 6));

  --animate-spin-slow: spin 2500ms linear infinite;

  --animate-spin-1: spin 500ms linear infinite;
  --animate-spin-2: spin 600ms linear infinite;
  --animate-spin-3: spin 700ms linear infinite;
  --animate-spin-4: spin 800ms linear infinite;
}

* {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-style: normal;
}

h1,
h2 {
  font-family: "Bagel Fat One", system-ui;
  font-weight: 400;
  font-style: normal;
}
